<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
       <link rel="stylesheet" href="page.css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    
    <title>Slack Hack</title>
</head>
<body >
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
           <a class="navbar-brand" href="#"><img style="width: 30; height: 40px; " src="https://cdn.freebiesupply.com/logos/large/2x/slack-logo-icon.png" alt=""></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>

           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                 <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#">Link</a>

               <li class="nav-item navbar-light bg-light">
                 <a class="nav-link disabled" href="#">Disabled</a>
               </li>
             </ul>
             <form class="form-inline my-2 my-lg-0 topnav-right">
               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"> Search</i></button>
               <a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=your_client_id"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>

               </a>
               <button class="btn btn-outline-success my-2 my-sm-0" type="signup"><i class="fas fa-user-plus">signup</i></button>
             </form>
           </div>
         </nav>
    <div id="div"></div>

        
        <script type="text/javascript">

var div=document.getElementById("div");

function display(){
axios.get('https://slack.com/api/conversations.list?token=<%=accessToken%>')
.then(function (response) {


var channelList=response.data.channels;
for(let x in channelList){
let channelName=document.createElement("h1");
channelName.className="channel";

channelName.innerHTML=channelList[x].name.toUpperCase();
var channelId=channelList[x].id;
axios.get(`https://slack.com/api/conversations.history?token=<%=accessToken%>&channel=${channelId}`)
    .then(function (response) {
        div.appendChild(channelName);
      var messageList=response.data.messages;
      for(var i in messageList){
        var para=document.createElement("p");
        para.className="message";
        div.appendChild(para);
        para.innerHTML=messageList[i].text;
      }
    })
    .catch(function (error) {
      
      console.log(error);
    });
}



  console.log(response);
})
.catch(function (error) {
  
  console.log(error);
});
};
display();
setInterval(function(){div.innerHTML="";display();},10000);
        </script>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>